/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* CSS Reset End */
.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  background-image: url(../images/header_desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 2%;
  background-color: black;
}
@media (max-width: 480px) {
  header {
    background-image: url(../images/header_mobile.png);
    padding-bottom: 10%;
  }
}
header .guide {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
}
header .guide .logo {
  background-image: url(../images/logo_w@svg.svg);
  background-repeat: no-repeat;
  width: 120px;
  margin: 15px 0 0 13px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
header .guide .menu .navbar {
  display: flex;
}
@media (max-width: 767px) {
  header .guide .menu .navbar {
    display: block;
    position: absolute;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }
}
header .guide .menu .navbar li {
  width: 100px;
}
@media (max-width: 767px) {
  header .guide .menu .navbar li {
    width: 200px;
  }
}
header .guide .menu .navbar li a {
  display: block;
  padding: 18px 0;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  header .guide .menu .navbar li a {
    background: black;
    border: 2px solid #41ace1;
  }
}
header .guide .menu .navbar li a:hover {
  background: rgba(65, 172, 225, 0.4588235294);
}
header .guide .menu .mobile-menuBTN {
  display: none;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 15px;
}
@media (max-width: 767px) {
  header .guide .menu .mobile-menuBTN {
    display: inline-block;
  }
}
header .guide .menu .mobile-menuBTN .bar1 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
header .guide .menu .mobile-menuBTN .bar2 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
header .guide .menu .mobile-menuBTN .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
header .guide .menu .change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
header .guide .menu .change .bar2 {
  opacity: 0;
}
header .guide .menu .change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
@media (max-width: 767px) {
  header .guide .menu .show {
    max-height: 280px;
  }
}
header .banner {
  max-width: 460px;
  margin: 10% auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.42);
  color: #fff;
  padding: 20px 0;
  line-height: 1.5;
}
header .banner h1 {
  font-size: 2.25em;
}
header .banner .item {
  display: flex;
  justify-content: center;
  line-height: 1em;
}
header .banner .item p {
  margin: 0 5px;
}

/* Content Start */
/* Head Content */
.head_content .firstPart {
  background-color: #EFE9E7;
  padding: 0 20px 50px 20px;
  color: #3D1101;
}
@media (max-width: 767px) {
  .head_content .firstPart {
    padding: 0 0 50px 0;
  }
}
.head_content .firstPart .headWord {
  max-width: 460px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
}
.head_content .firstPart .headWord .baseLine {
  width: 120px;
  height: 30px;
  border-bottom: 1px solid #979797;
}
@media (max-width: 767px) {
  .head_content .firstPart .headWord .baseLine {
    display: none;
  }
}
.head_content .firstPart .headWord .words-between {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .head_content .firstPart .headWord .words-between {
    margin: 0 auto;
  }
}
.head_content .firstPart .keys {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .head_content .firstPart .keys {
    display: block;
  }
}
.head_content .firstPart .keys li {
  width: 26%;
  text-align: center;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .head_content .firstPart .keys li {
    width: 80%;
    text-align: center;
    line-height: 1.3;
    display: block;
    margin: 0 auto 20px auto;
  }
}
.head_content .firstPart .keys li img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.head_content .firstPart .keys li .head_content .firstPart .keys li h2 {
  font-size: 18px;
  padding: 10px 0;
}
.head_content .firstPart .keys li .head_content .firstPart .keys li p {
  text-align: left;
}
.head_content .secondPart {
  background-color: #3D1101;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .head_content .secondPart {
    display: block;
    text-align: center;
  }
}
.head_content .secondPart img {
  width: 46%;
}
@media (max-width: 767px) {
  .head_content .secondPart img {
    width: 100%;
  }
}
.head_content .secondPart .text {
  width: 40%;
  color: #EFE9E7;
  line-height: 1.3;
  margin-left: 25px;
  padding-top: 81px;
}
@media (max-width: 767px) {
  .head_content .secondPart .text {
    width: 100%;
    margin: 0;
    padding: 0 30px 30px 30px;
    padding-top: 20px;
  }
}
.head_content .secondPart .text h2 {
  font-size: 20px;
}
.head_content .secondPart .text p {
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .head_content .secondPart .text .chef_story {
    text-align: left;
  }
}
.head_content .thirdPart {
  background-color: #EFE9E7;
  color: #3D1101;
  padding: 50px 20px 34px 20px;
}
.head_content .thirdPart h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}
.head_content .thirdPart .comments {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .head_content .thirdPart .comments {
    display: block;
  }
}
.head_content .thirdPart .comments li {
  width: 30%;
  display: flex;
}
@media (max-width: 767px) {
  .head_content .thirdPart .comments li {
    width: 90%;
    margin: 0 auto;
  }
}
.head_content .thirdPart .comments li img {
  width: 67px;
  height: 67px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  margin-right: 13px;
}
.head_content .thirdPart .comments li .commentText h3 {
  font-size: 18px;
  margin: 22px 0;
}
.head_content .thirdPart .comments li .commentText p {
  line-height: 1.5;
  margin-bottom: 16px;
}
.head_content .thirdPart .comments li .commentText .occupation {
  text-align: right;
}
.head_content .fourthPart {
  background: rgba(250, 250, 250, 0.7);
  color: #3D1101;
  padding: 50px 0;
}
.head_content .fourthPart h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 38px;
  line-height: 1.3;
}
.head_content .fourthPart .booking {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .head_content .fourthPart .booking {
    display: block;
    text-align: center;
  }
}
.head_content .fourthPart .booking img {
  max-width: 45%;
}
@media (max-width: 767px) {
  .head_content .fourthPart .booking img {
    max-width: 90%;
    margin-bottom: 20px;
  }
}
.head_content .fourthPart .booking form {
  display: flex;
  flex-direction: column;
  width: 45%;
  font-size: 14px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .head_content .fourthPart .booking form {
    width: 90%;
    font-size: 14px;
    margin-left: 20px;
    text-align: left;
  }
}
.head_content .fourthPart .booking form input {
  width: 100%;
  margin: 10px 0 15px 0;
}
.head_content .fourthPart .booking form .choice {
  display: inline-block;
  margin-right: 36px;
  font-size: 16px;
}
.head_content .fourthPart .booking form .has-vegetarian {
  width: 16px;
  height: 16px;
  margin: 0 0 0 5px;
}
.head_content .fourthPart .booking form .btnGroup {
  text-align: right;
}
.head_content .fourthPart .booking form button {
  width: 70px;
  height: 32px;
  transition: all 0.5s;
}
.head_content .fourthPart .booking form button:hover {
  border-radius: 50%;
}
.head_content .fourthPart .booking form .cancel-btn {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 3px;
}
.head_content .fourthPart .booking form .submit-btn {
  background: #F56C23;
  border-radius: 3px;
}
@media (max-width: 480px) {
  .head_content .fourthPart .booking form .submit-btn {
    margin: 0;
  }
}

/* Shop Content */
.shop_content {
  display: flex;
  padding: 50px 40px 0 40px;
  background-color: #EFE9E7;
  color: #3D1101;
}
@media (max-width: 768px) {
  .shop_content {
    display: block;
    padding: 50px 40px 0 40px;
    background-color: #EFE9E7;
    color: #3D1101;
  }
}
.shop_content .sidebar {
  min-width: 220px;
}
@media (max-width: 768px) {
  .shop_content .sidebar {
    text-align: center;
  }
}
.shop_content .sidebar h1 {
  font-size: 20px;
  margin-bottom: 16px;
}
.shop_content .sidebar h1 i {
  font-size: 32px;
  padding-right: 15px;
}
.shop_content .sidebar ul li {
  border-bottom: 1px solid #3D1101;
}
.shop_content .sidebar ul li a {
  color: #3D1101;
  display: block;
  padding: 8px;
}
@media (max-width: 768px) {
  .shop_content .sidebar ul li a {
    padding: 14px;
  }
}
.shop_content .sidebar ul li a:hover {
  color: #fff;
  background-color: #3D1101;
}
.shop_content .shop {
  max-width: 700px;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .shop_content .shop {
    max-width: 100%;
    margin-left: 0;
    padding-top: 20px;
  }
}
.shop_content .shop .functions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
@media (max-width: 768px) {
  .shop_content .shop .functions {
    display: block;
  }
}
.shop_content .shop .functions .search {
  width: 65%;
  height: 32px;
  border-collapse: collapse;
  display: flex;
}
@media (max-width: 768px) {
  .shop_content .shop .functions .search {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}
.shop_content .shop .functions .search input {
  border: 2px solid #3D1101;
  width: 90%;
  height: 31px;
  background-color: #EFE9E7;
}
@media (max-width: 768px) {
  .shop_content .shop .functions .search input {
    border: 2px solid #3D1101;
    width: 100%;
    height: 44px;
    background-color: #EFE9E7;
    font-size: 32px;
  }
}
.shop_content .shop .functions .search input:focus {
  outline: 2px solid rgba(65, 172, 225, 0.4549019608);
}
.shop_content .shop .functions .search i {
  background-color: #3D1101;
  color: #fff;
  width: 36px;
  height: 31px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .shop_content .shop .functions .search i {
    height: 44px;
    line-height: 44px;
  }
}
.shop_content .shop .functions .search i:hover {
  font-size: larger;
}
.shop_content .shop .functions .shop_cart {
  display: flex;
}
@media (max-width: 768px) {
  .shop_content .shop .functions .shop_cart {
    justify-content: flex-end;
    padding-top: 15px;
  }
}
.shop_content .shop .functions .shop_cart a {
  color: #3D1101;
  border-right: 1px solid #3D1101;
  padding-right: 12px;
  height: 16px;
  margin-top: 8px;
}
@media (max-width: 768px) {
  .shop_content .shop .functions .shop_cart a {
    font-size: 20px;
    height: 20px;
  }
}
.shop_content .shop .functions .shop_cart a:hover {
  color: red;
  font-weight: bold;
}
.shop_content .shop .functions .shop_cart .cart {
  position: relative;
  margin-left: 17px;
}
.shop_content .shop .functions .shop_cart .cart i {
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s;
}
.shop_content .shop .functions .shop_cart .cart i:hover {
  color: #41ace1;
  transform: rotate(0.125turn);
}
.shop_content .shop .functions .shop_cart .cart .number {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FF5E45;
  color: #fff;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
}
.shop_content .shop .items {
  display: flex;
  flex-wrap: wrap;
}
.shop_content .shop .items li {
  width: 31%;
  text-align: center;
  line-height: 1.5;
  position: relative;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
  margin-right: 2%;
  padding-bottom: 10px;
}
@media (max-width: 950px) {
  .shop_content .shop .items li {
    line-height: 1;
  }
}
@media (max-width: 768px) {
  .shop_content .shop .items li {
    width: 48%;
    margin-right: 2%;
  }
}
@media (max-width: 414px) {
  .shop_content .shop .items li {
    width: 100%;
    margin-right: 0;
    padding-bottom: 0;
  }
}
.shop_content .shop .items li img {
  width: 100%;
  height: 43%;
  position: relative;
  z-index: 1;
}
.shop_content .shop .items li h2 {
  font-size: 20px;
}
@media (max-width: 950px) {
  .shop_content .shop .items li h2 {
    padding-top: 10px;
  }
}
.shop_content .shop .items li p {
  font-size: 12px;
}
.shop_content .shop .items li .baseLine {
  width: 41%;
  height: 1px;
  background-color: #3D1101;
  margin: 10px auto;
}
.shop_content .shop .items li .price {
  font-size: 20px;
  padding: 16px 0 10px 0;
}
.shop_content .shop .items li .add_btn {
  color: #FF5E45;
  border: 2px solid #FF5E45;
  border-radius: 3px;
  display: block;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 3px 0;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .shop_content .shop .items li .add_btn {
    height: 40px;
    line-height: 40px;
    padding: 0;
  }
}
.shop_content .shop .items li .add_btn i {
  padding-right: 10px;
}
.shop_content .shop .items li .add_btn:hover {
  color: #EFE9E7;
  background-color: #FF5E45;
}
.shop_content .shop .items li .heart {
  color: #fff;
  position: absolute;
  top: 9px;
  left: 9px;
  cursor: pointer;
  z-index: 2;
  font-size: 26px;
}
@media (max-width: 768px) {
  .shop_content .shop .items li .heart {
    font-size: 44px;
  }
}
.shop_content .shop .items li .red_heart {
  color: red;
  font-weight: 800;
  transition: all 0.5s;
}
.shop_content .shop .items li .pro_text {
  font-size: 16px;
  background-color: #00CC99;
  width: 120px;
  height: 30px;
  text-align: center;
  color: #fff;
  padding: 5px 10px;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
          clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
  transform: rotate(0.125turn);
  position: absolute;
  top: 10px;
  right: -35px;
  z-index: 2;
}
.shop_content .shop .items li .decoration {
  background-color: #008563;
  width: 120px;
  height: 10px;
  transform: rotate(0.125turn);
  position: absolute;
  top: 34px;
  right: -21px;
}

/* Login Content */
.login_content {
  background-color: #EFE9E7;
  color: #3D1101;
  padding: 50px 0;
}
.login_content .logo {
  max-width: 240px;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
}
.login_content h2 {
  font-size: 20px;
  text-align: center;
}
.login_content .loginBox {
  width: 300px;
  margin: 35px auto 0 auto;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-top: 3px solid #FF5E45;
  padding: 15px;
}
.login_content .loginBox h2 {
  font-size: 18px;
  padding-bottom: 16px;
  font-weight: bold;
}
.login_content .loginBox label {
  display: block;
  text-align: left;
  position: relative;
}
.login_content .loginBox label.password_block {
  margin-top: 15px;
}
.login_content .loginBox i {
  display: block;
  position: absolute;
  color: #3D1101;
  top: 25px;
  left: 10px;
}
.login_content .loginBox input {
  width: 100%;
  height: 32px;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 0px 0px #ECECEC;
  border-radius: 3px;
  margin-top: 3px;
  padding-left: 30px;
}
.login_content .loginBox .forget {
  font-size: 14px;
  color: #FF5E45;
}
.login_content .loginBox .forget:hover {
  color: blue;
}
.login_content .loginBox .btn_group {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.login_content .loginBox .btn_group button {
  width: 125px;
  height: 32px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  border: 0px;
  cursor: pointer;
}
.login_content .loginBox .btn_group button:hover {
  width: 130px;
  height: 35px;
  font-size: 16px;
}
.login_content .loginBox .btn_group .regist_btn {
  background: rgba(0, 0, 0, 0.35);
}
.login_content .loginBox .btn_group .login_btn {
  background: #F56C23;
}

/* Regist Content */
.regist_content {
  background-color: #EFE9E7;
  color: #3D1101;
  padding: 50px 0;
}
.regist_content .logo {
  max-width: 240px;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
}
.regist_content h2 {
  font-size: 20px;
  text-align: center;
}
.regist_content .regist_block {
  max-width: 620px;
  margin: 35px auto 0 auto;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-top: 3px solid #FF5E45;
  padding: 15px;
}
@media (max-width: 767px) {
  .regist_content .regist_block {
    max-width: 95%;
  }
}
.regist_content .regist_block h2 {
  font-size: 18px;
  padding-bottom: 16px;
  font-weight: bold;
}
.regist_content .regist_block .inner_box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .regist_content .regist_block .inner_box {
    display: block;
  }
}
.regist_content .regist_block .inner_box .law {
  width: 48%;
  font-size: 18px;
}
@media (max-width: 767px) {
  .regist_content .regist_block .inner_box .law {
    width: 100%;
    padding-bottom: 30px;
  }
}
.regist_content .regist_block .inner_box .regist_info {
  width: 48%;
}
@media (max-width: 767px) {
  .regist_content .regist_block .inner_box .regist_info {
    width: 100%;
  }
}
.regist_content .regist_block .inner_box .regist_info label {
  display: block;
  text-align: left;
  position: relative;
}
.regist_content .regist_block .inner_box .regist_info label.password_block {
  margin-top: 15px;
}
.regist_content .regist_block .inner_box .regist_info i {
  display: block;
  position: absolute;
  color: #3D1101;
  top: 25px;
  left: 10px;
}
.regist_content .regist_block .inner_box .regist_info input {
  width: 100%;
  height: 32px;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 0px 0px #ECECEC;
  border-radius: 3px;
  margin-top: 3px;
  padding-left: 30px;
}
.regist_content .regist_block .inner_box .regist_info .ready_has {
  font-size: 14px;
  color: #FF5E45;
  display: block;
  padding-top: 5px;
}
.regist_content .regist_block .inner_box .regist_info .ready_has:hover {
  color: blue;
}
.regist_content .regist_block .inner_box .regist_info .send_regist {
  width: 125px;
  height: 32px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  border: 0px;
  cursor: pointer;
  background: #F56C23;
  display: block;
  margin: 30px 0 0 auto;
}
@media (max-width: 767px) {
  .regist_content .regist_block .inner_box .regist_info .send_regist {
    width: 130px;
    height: 35px;
    font-size: 16px;
  }
}

/* Content End */
footer {
  background-color: #EFE9E7;
  color: #3D1101;
  padding: 50px 42px;
}
@media (max-width: 767px) {
  footer {
    padding: 50px 10px;
  }
}
footer ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  footer ul {
    display: block;
  }
}
footer ul li {
  width: 30%;
  line-height: 1.3;
}
@media (max-width: 767px) {
  footer ul li {
    width: 100%;
    margin: 0 auto 30px auto;
  }
}
footer ul li h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
footer ul li .contact {
  display: block;
  padding-left: 20px;
}
footer ul li .contact li {
  width: auto;
  list-style: disc;
}
@media (max-width: 767px) {
  footer ul li .contact li {
    margin: 0;
  }
}
footer ul li .contact li a {
  color: #3D1101;
}
footer ul li .contact li a:hover {
  color: red;
}
footer ul li .social_group {
  text-align: right;
  padding-top: 15px;
}
footer ul li a i {
  font-size: 36px;
  margin-left: 10px;
  transition: all 0.5s;
}
footer ul li a i:hover {
  font-size: 48px;
}
footer ul li .google-plus {
  color: #DB4437;
}
footer ul li .twitter {
  color: #41ABE1;
}
footer ul li .facebook {
  color: #3A5795;
}
footer ul .links {
  text-align: end;
}/*# sourceMappingURL=all.css.map */