/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    max-width:100%; 
    height: auto;
}

a {
    text-decoration: none;
}

/* CSS Reset End */

.wrap {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-image: url(../images/header_desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2%;
    background-color: black;
}

header .guide {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}

header .guide .logo {
    background-image: url(../images/logo_w@svg.svg);
    background-repeat: no-repeat;
    width: 120px;
    text-indent: -101%;
    overflow: hidden;
    margin: 15px 0 0 13px;
}

header .guide .menu .navbar {
    display: flex;
}

header .guide .menu .navbar li {
    width: 100px;
}

header .guide .menu .navbar li a {
    display: block;
    padding: 18px 0;
    color: #fff;
    text-align: center;
    transition: all 0.3s;
}

header .guide .menu .navbar li a:hover {
    background: #41ace175;
}

header .guide .menu .mobile-menuBTN {
    display: none;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 15px;
    
}

header .guide .menu .mobile-menuBTN .bar1, 
header .guide .menu .mobile-menuBTN .bar2, 
header .guide .menu .mobile-menuBTN .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

header .guide .menu .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
header .guide .menu .change .bar2 {
    opacity: 0;
}
  
header .guide .menu .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

header .banner {
    max-width: 460px;
    margin: 10% auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.42);
    color: #fff;
    padding: 20px 0;
    line-height: 1.5;
}

header .banner h1 {
    font-size: 2.25em;
}

header .banner .item {
    display: flex;
    justify-content: center;
    line-height: 1em;
}

header .banner .item p {
    margin: 0 5px;
}

@media (max-width:767px){
    
    header .guide .menu .navbar {
        display: block;
        position: absolute;
        right: 0;
        max-height: 0;
        overflow: hidden;
        transition:all 0.5s;
    }

    header .guide .menu .show {
        max-height: 280px;
    }


    
    header .guide .menu .mobile-menuBTN {
        display: inline-block;
    }
    
    header .guide .menu .navbar li {
        width: 200px;
    }
    
    header .guide .menu .navbar li a {
        background: black;
        border: 2px solid #41ace1;
    }
}

@media (max-width:480px){
    header {
        background-image: url(../images/header_mobile.png);
        padding-bottom: 10%;
    }
}

.content .firstPart {
    background-color: #EFE9E7;
    padding: 0 20px 50px 20px;
    color: #3D1101;
}

.content .firstPart .headWord {
    max-width: 460px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
}

.content .firstPart .headWord .baseLine {
    width: 120px;
    height: 30px;
    border-bottom: 1px solid #979797;
}

.content .firstPart .headWord .words-between {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.content .firstPart .keys {
    display:flex;
    justify-content: space-around;
}

.content .firstPart .keys li {
    width: 26%;
    text-align: center;
    line-height: 1.3;
}

.content .firstPart .keys li img {
    clip-path: circle(50% at 50% 50%);
}

.content .firstPart .keys li h2 {
    font-size: 18px;
    padding: 10px 0;
}

.content .firstPart .keys li p{
    text-align:left;
}

@media (max-width:767px){
    .content .firstPart {
        padding: 0 0 50px 0;
    }
    .content .firstPart .keys {
        display:block;
    }
    .content .firstPart .keys li {
        width: 80%;
        text-align: center;
        line-height: 1.3;
        display: block;
        margin: 0 auto 20px auto;
    }
    .content .firstPart .headWord .baseLine {
        display: none;
    }
    .content .firstPart .headWord .words-between {
        margin: 0 auto;
    }
}

.content .secondPart {
    background-color: #3D1101;
    display: flex;
    justify-content: center;
}

.content .secondPart img {
    width: 46%;
}

.content .secondPart .text {
    width: 40%;
    color: #EFE9E7;
    line-height: 1.3;
    margin-left: 25px;
    padding-top: 81px;
}

.content .secondPart .text h2 {
    font-size: 20px;
}

.content .secondPart .text p {
    margin-bottom: 16px;
}

@media (max-width:767px){
    .content .secondPart {
        display: block;
        text-align: center;
    }
    .content .secondPart img {
        width: 100%;
    }
    .content .secondPart .text {
        width: 100%;
        margin: 0;
        padding: 0 30px 30px 30px;
        padding-top: 20px;
    }
    .content .secondPart .text .chef_story {
        text-align: left;
    }
}

.content .thirdPart {
    background-color: #EFE9E7;
    color: #3D1101;
    padding: 50px 20px 34px 20px;
}

.content .thirdPart h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
}

.content .thirdPart .comments {
    display: flex;
    justify-content: space-around;
}

.content .thirdPart .comments li {
    width: 30%;
    display: flex;
}

.content .thirdPart .comments li img {
    width: 67px;
    height: 67px;
    clip-path: circle(50% at 50% 50%);
    margin-right: 13px;
}

.content .thirdPart .comments li .commentText h3 {
    font-size: 18px;
    margin: 22px 0;
}

.content .thirdPart .comments li .commentText p {
    line-height: 1.5;
    margin-bottom: 16px;
}

.content .thirdPart .comments li .commentText .occupation {
    text-align: right;
}

@media (max-width:767px){
    .content .thirdPart .comments {
        display: block;
    }
    .content .thirdPart .comments li {
        width: 90%;
        margin: 0 auto;
    }
}

.content .fourthPart {
    background: rgba(250,250,250,0.70);
    color: #3D1101;
    padding: 50px 0;
}

.content .fourthPart h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 38px;
    line-height: 1.3;
}

.content .fourthPart .booking {
    display: flex;
    justify-content: center;
}

.content .fourthPart .booking img{
    max-width: 45%;
}

.content .fourthPart .booking form {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-size: 14px;
    margin-left: 20px;
}

.content .fourthPart .booking form input {
    width: 100%;
    margin: 10px 0 15px 0;
}

.content .fourthPart .booking form .choice {
    display: inline-block;
    margin-right: 36px;
    font-size: 16px;
}

.content .fourthPart .booking form .has-vegetarian {
    width: 16px;
    height: 16px;
    margin: 0 0 0 5px;
}

.content .fourthPart .booking form .btnGroup {
    text-align: right;
}

.content .fourthPart .booking form button {
    width: 70px;
    height: 32px;
    transition: all 0.5s;
}

.content .fourthPart .booking form button:hover {
    border-radius: 50%;
}

.content .fourthPart .booking form .cancel-btn {
    background: rgba(0,0,0,0.35);
    border-radius: 3px;
}

.content .fourthPart .booking form .submit-btn {
    background: #F56C23;
    border-radius: 3px;
}

@media (max-width:767px){
    .content .fourthPart .booking {
        display: block;
        text-align: center;
    }
    .content .fourthPart .booking img{
        max-width: 90%;
        margin-bottom: 20px;
    }
    .content .fourthPart .booking form {
        width: 90%;
        font-size: 14px;
        margin-left: 20px;
        text-align: left;
    }
}

@media (max-width:480px){
    .content .fourthPart .booking form .submit-btn {
        margin: 0;
    }
}

footer {
    background-color: #EFE9E7;
    color: #3D1101;
    padding: 50px 42px;
}

footer ul {
    display: flex;
    justify-content: space-between;
}

footer ul li {
    width: 30%;
    line-height: 1.3;
}

footer ul li h2{
    font-size: 24px;
    margin-bottom: 10px;
}

footer ul li .contact {
    display: block;
    padding-left: 20px;
}

footer ul li .contact li {
    width: auto;
    list-style: disc;
}

footer ul li .contact li a {
    color:#3D1101;
}

footer ul li .contact li a:hover {
    color:red;
}

footer ul .links {
    text-align:end;
}

footer ul li .social_group {
    text-align: right;
    padding-top: 15px;
}

footer ul li a i {
    font-size: 36px;
    margin-left: 10px;
    transition: all 0.5s;
}

footer ul li a i:hover {
    font-size: 48px;
}

footer ul li .google-plus {
    color: #DB4437;
}

footer ul li .twitter {
    color: #41ABE1;
}

footer ul li .facebook {
    color: #3A5795;
}

@media (max-width:767px){
    
    footer {
        padding: 50px 10px;
    }
    footer ul {
        display: block;
    }
    footer ul li {
        width: 100%;
        margin: 0 auto 30px auto;
    }
    footer ul li .contact li {
        margin: 0;
    }
}