/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    max-width:100%; 
    height: auto;
}

a {
    text-decoration: none;
}

/* CSS Reset End */

.wrap {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-image: url(../images/header_desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2%;
    background-color: black;
}

header .guide {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}

header .guide .logo {
    background-image: url(../images/logo_w@svg.svg);
    background-repeat: no-repeat;
    width: 120px;
    text-indent: -101%;
    overflow: hidden;
    margin: 15px 0 0 13px;
}

header .guide .menu .navbar {
    display: flex;
}

header .guide .menu .navbar li {
    width: 100px;
}

header .guide .menu .navbar li a {
    display: block;
    padding: 18px 0;
    color: #fff;
    text-align: center;
    transition: all 0.3s;
}

header .guide .menu .navbar li a:hover {
    background: #41ace175;
}

header .guide .menu .mobile-menuBTN {
    display: none;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 15px;
    
}

header .guide .menu .mobile-menuBTN .bar1, 
header .guide .menu .mobile-menuBTN .bar2, 
header .guide .menu .mobile-menuBTN .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

header .guide .menu .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
header .guide .menu .change .bar2 {
    opacity: 0;
}
  
header .guide .menu .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

header .banner {
    max-width: 460px;
    margin: 10% auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.42);
    color: #fff;
    padding: 20px 0;
    line-height: 1.5;
}

header .banner h1 {
    font-size: 2.25em;
}

header .banner .item {
    display: flex;
    justify-content: center;
    line-height: 1em;
}

header .banner .item p {
    margin: 0 5px;
}

@media (max-width:767px){
    
    header .guide .menu .navbar {
        display: block;
        position: absolute;
        right: 0;
        max-height: 0;
        overflow: hidden;
        transition:all 0.5s;
    }

    header .guide .menu .show {
        max-height: 200px;
    }


    
    header .guide .menu .mobile-menuBTN {
        display: inline-block;
    }
    
    header .guide .menu .navbar li {
        width: 200px;
    }
    
    header .guide .menu .navbar li a {
        background: black;
        border: 2px solid #41ace1;
    }
}

@media (max-width:480px){
    header {
        background-image: url(../images/header_mobile.png);
        padding-bottom: 10%;
    }
}

/* Content Start */

.content {
    display:flex;
    padding: 50px 40px 0 40px;
    background-color: #EFE9E7;
    color: #3D1101;
}

@media (max-width:768px) {
    .content {
        display:block;
        padding: 50px 40px 0 40px;
        background-color: #EFE9E7;
        color: #3D1101;
    }
}

.content .sidebar {
    min-width: 220px;
}

.content .sidebar h1 {
    font-size: 20px;
    margin-bottom: 16px;
}

.content .sidebar h1 i {
    font-size: 32px;
    padding-right: 15px;
}

.content .sidebar ul li {
    border-bottom: 1px solid #3D1101;
}

.content .sidebar ul li a {
    color: #3D1101;
    display:block;
    padding: 8px;
}

.content .sidebar ul li a:hover {
    color: #fff;
    background-color: #3D1101;
}

@media (max-width:768px) {
    .content .sidebar {
        text-align: center;
    }
    .content .sidebar ul li a {
        padding: 14px;
    }

}

.content .shop {
    max-width: 700px;
    margin-left: 20px;
}

.content .shop .functions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

.content .shop .functions .search {
    width: 65%;
    height: 32px;
    border-collapse: collapse;
    display: flex;
}


.content .shop .functions .search input {
    border: 2px solid #3D1101;
    width: 90%;
    height: 31px;
    background-color: #EFE9E7;
}

.content .shop .functions .search input:focus{
    outline: 2px solid #41ace174;
}

.content .shop .functions .search i {
    background-color: #3D1101;
    color: #fff;
    width: 36px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.content .shop .functions .search i:hover{
    font-size: larger;
}

.content .shop .functions .shop_cart {
    display: flex;
}

.content .shop .functions .shop_cart a {
    color: #3D1101;
    border-right: 1px solid #3D1101;
    padding-right: 12px;
    height: 16px;
    margin-top: 8px;
}

.content .shop .functions .shop_cart a:hover {
    color:red;
    font-weight: bold;
}

.content .shop .functions .shop_cart .cart {
    position: relative;
    margin-left: 17px;
}

.content .shop .functions .shop_cart .cart i {
    font-size: 28px;
    cursor: pointer;
    transition: all 0.3s;
}

.content .shop .functions .shop_cart .cart i:hover {
    color: #41ace1;
    transform: rotate(0.125turn);
}

.content .shop .functions .shop_cart .cart .number {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FF5E45;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -5px;
}

@media (max-width:768px) {
    .content .shop {
        max-width: 100%;
        margin-left: 0;
        padding-top: 20px;
    }
    .content .shop .functions {
        display: block;
    }
    .content .shop .functions .search {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .content .shop .functions .search input {
        border: 2px solid #3D1101;
        width: 100%;
        height: 44px;
        background-color: #EFE9E7;
        font-size: 32px;
    }
    .content .shop .functions .search i {
        background-color: #3D1101;
        color: #fff;
        width: 36px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        cursor: pointer;
    }
    .content .shop .functions .shop_cart {
        justify-content: flex-end;
        padding-top: 15px;
    }
    .content .shop .functions .shop_cart a {
        font-size: 20px;
        height: 20px;
    }
}

.content .shop .items {
    display:flex;
    flex-wrap: wrap;
}

.content .shop .items li {
    width: 31%;
    text-align: center;
    line-height: 1.5;
    position: relative;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    margin-bottom: 30px;
    margin-right: 2%;
    padding-bottom: 10px;

}

.content .shop .items li img{
    width: 100%;
    height: 43%;
    position: relative;
    z-index: 1;
}

.content .shop .items li h2 {
    font-size: 20px;
}

.content .shop .items li p {
    font-size: 12px;
}

.content .shop .items li .baseLine {
    width: 41%;
    height: 1px;
    background-color: #3D1101;
    margin: 10px auto;
}

.content .shop .items li .price {
    font-size: 20px;
    padding: 16px 0 10px 0;
}

.content .shop .items li .add_btn {
    color:#FF5E45;
    border: 2px solid #FF5E45;
    border-radius: 3px;
    display: block;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 3px 0;
    transition: all 0.5s;
}

.content .shop .items li .add_btn i {
    padding-right: 10px;
}

.content .shop .items li .add_btn:hover {
    color: #EFE9E7;
    background-color: #FF5E45;
}

.content .shop .items li .heart {
    color: #fff;
    position: absolute;
    top:9px;
    left:9px;
    width: 23px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
}

    /*促銷裝飾*/

.content .shop .items li .pro_text {
    font-size: 16px;
    background-color: #00CC99;
    width: 120px;
    height: 30px;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
    transform: rotate(0.125turn);
    position: absolute;
    top: 10px;
    right: -35px;
    z-index: 2;
}

.content .shop .items li .decoration {
    background-color: #008563;
    width: 120px;
    height: 10px;
    transform: rotate(0.125turn);
    position: absolute;
    top: 34px;
    right: -21px;
}
@media (max-width:950px) {
    .content .shop .items li {
        line-height: 1.0;
    }
    .content .shop .items li h2 {
        padding-top: 10px;
    }
}
@media (max-width:768px) {
    .content .shop .items li {
        width: 48%;
        margin-right: 2%;
    
    }
    .content .shop .items li .add_btn {
        height: 40px;
        line-height: 40px;
        padding: 0;
    }
}
@media (max-width:414px) {
    .content .shop .items li {
        width: 100%;
        margin-right: 0;
        padding-bottom: 0;
    }
}

/* Content End */

footer {
    background-color: #EFE9E7;
    color: #3D1101;
    padding: 50px 42px;
}

footer ul {
    display: flex;
    justify-content: space-between;
}

footer ul li {
    width: 30%;
    line-height: 1.3;
}

footer ul li h2{
    font-size: 24px;
    margin-bottom: 10px;
}

footer ul li .contact {
    display: block;
    padding-left: 20px;
}

footer ul li .contact li {
    width: auto;
    list-style: disc;
}

footer ul li .contact li a {
    color:#3D1101;
}

footer ul li .contact li a:hover {
    color:red;
}

footer ul .links {
    text-align:end;
}

footer ul li .social_group {
    text-align: right;
    padding-top: 15px;
}

footer ul li a i {
    font-size: 36px;
    margin-left: 10px;
    transition: all 0.5s;
}

footer ul li a i:hover {
    font-size: 48px;
}

footer ul li .google-plus {
    color: #DB4437;
}

footer ul li .twitter {
    color: #41ABE1;
}

footer ul li .facebook {
    color: #3A5795;
}

@media (max-width:767px){
    
    footer {
        padding: 50px 10px;
    }
    footer ul {
        display: block;
    }
    footer ul li {
        width: 100%;
        margin: 0 auto 30px auto;
    }
    footer ul li .contact li {
        margin: 0;
    }
}